div.chat {
  width: 400px;
  min-width: 357px;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Kaku Gothic Pro", "Lucida Grande", Verdana, Arial, Meiryo, "メイリオ", sans-serif;
  margin-left: 400px;
}

.panel {
  margin: 0;
}

.panel_body {
  height: 400px;
  overflow: auto;
}

.chatBox {
  width: 100%;
  height: auto;
  overflow: hidden; 
  bottom:0;
}

.chatBalloon {
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: white;
}

.bot {
  float: left;
  display: inline-block;
}

.user {
  float: right;
  background-color: Lime;
}

.inputText {
  text-align: right;
}